.modal {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_is-opened {
  visibility: visible;
  /* padding: 32px 50px 32px 50px; */
}

.modal__container {
  max-width: 730px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
  position: relative;
  padding: 32px 50px;
  border: none;
}

.modal__close-button {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background-color: transparent;
  margin-left: auto;
  opacity: 40%;
  display: flex;
  justify-content: flex-end;
}

.modal__close-button:hover {
  opacity: 100%;
}

.modal__title {
  width: 169px;
  height: 32px;
  display: flex;
  justify-content: end;
  margin: 0 0 32px 0;
}
.modal__form {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
  border: none;
}

.modal__label {
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0%;
}

.modal__input {
  /* padding-bottom: 32px; */
  margin: 8px 0 0;
  border-radius: 8px;
  border: 1px solid rgba(33, 33, 33, 0.4);
  box-sizing: border-box;
  display: block;
  max-width: 630px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 16px 0 16px 12px;
  margin-bottom: 32px;
  color: rgba(33, 33, 33, 1);
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0;
}

.modal__input::placeholder {
  color: rgba(33, 33, 33, 0.3);
  line-height: 100%;
  margin: 0;
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  font-style: Medium;
  letter-spacing: 0%;
  margin: auto;
  max-width: 164px;
  width: 100%;
}

.modal__input:hover {
  border-color: rgba(33, 33, 33, 1);
  cursor: pointer;
}

.modal__save {
  max-width: 156px;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  display: flex;
  align-items: center;
  text-align: center;
  padding: 18px 58px;
}

@media screen and (max-width: 630px) {
  .modal {
    padding-left: 10px;
    padding-right: 10px;
  }
  .modal__save {
    max-width: none;
  }
}
